[Unit]
Description=Lock before suspend
ConditionPathExists=!/etc/harness-live
PartOf=harness-os.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 600 'swaylock -f -c 000000' before-sleep 'swaylock -f -c 000000'
Restart=on-failure
